#wantPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 400px;

    #title{
        font-size: 45px;
        padding:10px;
        font-weight: bold;
        padding-bottom: 100px;
    }
    #introduce{
        position:absolute;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: -100px;
        width:850px;
        font-weight: bold;
        
        #img{
            position: absolute;
            width: 280px;
            height: 280px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: -1;
        }
        #chatBg1{
            width: 300px;
            height: 60px;
        }
        #chatBg2{
            width: 200px;
            height: 45px;
            margin-left: 100px;
        }
        #intro1{
            position:absolute;
            font-size: 20px;
            margin-left: 15px;
            margin-top: 10px;
        }
        #intro2{
            position:absolute;
            font-size: 16px;
            margin-left: 115px;
            margin-top: 68px;
        }
    }
    #boxs{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        

        #wantprofil{
            background-color: white;
            width: 350px;
            height: 350px;
            border-radius: 30px;
            z-index: -1;
        }
        .btn_RL{
            font-size: 40px;
            margin: auto 40px;
        }
        #circle{ 
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 100px;
            background-color: #8137FF;
            margin-top: -350px;
            margin-right: -330px;
            display: flex;
            align-items: center; /* 수직 가운데 정렬 */
            justify-content: center; /* 수평 가운데 정렬 */
        }
    }
    
    #yesOrNo{
        display: flex;
        gap: 25px;

        .button{
            padding: 8px;
            margin-top: 30px;
            background-color: black;
            border-style: solid;
            border-color: white;
            border-radius: 100px;
            color: white;
            width: 130px;
            font-size: 20px;
        }
    }

}