.loading {
    .Matching{
        background: linear-gradient(90deg,#3851FF,  #8037FF);
        border: none !important;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        position: relative;
        margin: 0 auto;
        width: 1240px;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }
    
    .circle {
        border-radius: 50%;
        position: absolute;

    }
    
    .circle1 {
        width: 900px;
        height: 900px;
        top: 30px;
        left: -380px;
        background-color: rgba(185, 157, 245, 0.34);
    }
    
    .circle2 {
        width: 130px;
        height: 130px;
        top: 250px;
        right: 50px;
        background-color: rgba(124, 63, 252, 0.4);
    }
    
    .circle3 {
        width: 650px;
        height: 650px;
        bottom: -325px;
        right: -325px;
        background-color: rgba(220, 203, 255, 0.37);
    }
    
    .text {
        font-size: 65px;
        font-weight: 500;
        z-index: 10;
        color: white;
    }
}