.no_matches {
    .Matching{
        background: linear-gradient(90deg,#3851FF,  #8037FF);
        border: none !important;
    }
    display: flex;
    align-items: center;
    flex-direction: column;

    .text {
        margin: 100px auto;
        padding-top: 50px;
        color: white;
    }

    .btn {
        padding: 10px;
        width: 150px;
        background-color: black;
        border: white 1px solid;
        border-radius: 20px;
        color: white;
        justify-content: center;
    }

    .btn:hover {
        background: linear-gradient(90deg, #3851FF, #8037FF);
        border: none;
    }
}

.matchinfo {
    .Matching{
        background: linear-gradient(90deg,#3851FF,  #8037FF);
        border: none !important;
    }
    display: flex;
    align-items: center;
    flex-direction: column;

    .text {
        margin-top: 150px;
        color: white;
        font-size: 50px;
        font-weight: 600;
    }

    
    .studentId {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 50px;
        border-radius: 30px;
        padding: 10px 30px;
        margin: 10px 0;
        font-size: 25px;
        color: rgba(129, 55, 255, 0.4);

    }
    .studentId::placeholder {
        color: rgba(129, 55, 255, 0.4);
    }

    .major {
        width: 400px;
        height: 50px;
        border-radius: 30px;
        padding: 10px 30px;
        margin: 5px 0;
        font-size: 25px;
        color: rgba(129, 55, 255, 0.4);
    }

    .major::placeholder {
        color: rgba(129, 55, 255, 0.4);
    }

    .button-group {
        justify-content: center;
        display: flex;
        align-items: center;

        .matchingbtn {
            height: 5%;
            width: 125px;
            margin: 20px 25px;
            padding: 10px;
            background-color: black;
            border: white 1px solid;
            border-radius: 30px;
            color: white;
            font-size: 18px; 
        }
    }

    .matchingbtn:hover {
        background: linear-gradient(90deg, #3851FF, #8037FF);
        border: none;
    }
    
}

.samemajor {
    margin-bottom: 200px;
    .Matching{
        background: linear-gradient(90deg,#3851FF,  #8037FF);
        border: none !important;
    }
    display: flex;
    flex-direction: column;
    position: relative;

    .text {
        text-align: center;
        margin: 30px;
        margin-top: 150px;
        font-size: 50px;
        color: white;
    }

    .profileimg {
        display: flex;
        width: 291px;
        height: 326px;
        border-radius: 30px;
        background-color: white;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 160px;
        
        img {
            width: 221px;
            height: 251px;
        }

        .bubbleimg {
            position: absolute;
            top: 40px;
            left: 230px;
            text-align: center;

            img {
                width: 300px;
                height: auto;
            }

            .bubble-text {
                color: white;
                position: absolute;
                top: 14px;
                left: 10px;
                right: 10px;
                font-size: 20px;
                line-height: 1.2;
                word-wrap: break-word;
            }
        }
    }

    .profileimg1 {
        margin-top: 50px;
        margin-left: 160px;
    }

    .profileimg2 {
        margin-left: auto;
        margin-right: 160px;
        .bubbleimg {
            top: 40px;
            left: -230px;
            .bubble-text {
                right: 20px;
            }
        }
    }

    .profileimg3 {
        margin-left: 160px;
    }
}


.loading {
    .Matching{
        background: linear-gradient(90deg,#3851FF,  #8037FF);
        border: none !important;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .content {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
    }
    
    .circle {
        border-radius: 50%;
        position: absolute;
        position: fixed;
    }
    
    .circle1 {
        width: 600px;
        height: 550px;
        top: 16%;
        right: 70%;
        background-color: rgba(185, 157, 245, 0.34);
        clip-path: inset(0 0 0 120px);
    }
    
    .circle2 {
        width: 100px;
        height: 100px;
        top: 30%;
        left: 65%;
        background-color: rgba(124, 63, 252, 0.4);
    }
    
    .circle3 {
        width: 500px;
        height: 450px;
        top: 60%;
        left: 80%;
        background-color: rgba(220, 203, 255, 0.37);
        clip-path: inset(0 180px 170px 0);
    }
    
    .text {
        font-size: 65px;
        margin-top: 30px;
        color: white;
    }
}


  
  