.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    //border: 1px solid blue;

    .Matching {
        background: linear-gradient(90deg, #3851FF, #8037FF);
        border: none !important;
    }

    .content {
        width: 100%;
        max-width: 750px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        //border: 1px solid red;
    }
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(1, 1, 1, 1.0);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.profile-img {
    display: flex;
    width: 80px;
    height: 90px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    img {
        width: 60px;
        height: 70px;
    }
}

.user-info {
    display: flex;
    flex-direction: row;
    margin: 10px;

    .text {
        font-size: 15px;
        margin-right: 15px;
        color: rgba(197, 164, 255, 1);
    }
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(1, 1, 1, 1.0);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    max-width: 70%;
    display: inline-block;
}

.chat-message.me {
    background-color: rgba(121, 57, 255, 1.0);
    border-radius: 15px;
    padding: 10px;
    color: white;
    align-self: flex-start;
}

.chat-message.other {
    background-color: rgba(90, 69, 255, 1);
    border-radius: 15px;
    padding: 10px;
    color: white;
    align-self: flex-end;
}

.sent-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

.chat-input {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: rgba(1, 1, 1, 1.0);
    z-index: 1;
}

.chat-input input[type='text'] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: rgba(1, 1, 1, 1.0);
    color: white;
    margin-right: 10px;
}

.chat-input button,
.image-upload-label {
    border: none;
    background: none;
    cursor: pointer;
}

.chat-input img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.chat-input img:hover {
    transform: scale(1.1);
}
